@font-face {
font-family: VerlagLight;
src: url('../fonts/verlaglight.otf') format("opentype");
}
@font-face {
font-family: VerlagBold;
src: url('../fonts/verlagbold.otf') format("opentype");
}
@font-face {
font-family: VerlagBook;
src: url('../fonts/verlagbook.otf') format("opentype");
}
h1{
    font-family: VerlagLight;
    color: #666666;
    margin-left: 50px;
    font-size: 20pt;
}

.div-cor-header{
    margin-top: 20px;
    display: table-cell;
    width: 400px
}

.div-cor-header img{
    height:20px;
    float: left;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 20px;

}

.produto img{
    height:400px;
}

.intro h1{
    margin-left: 200px;
    margin-top: 200px;
    font-family: VerlagBook;
    color: #ffffff;
    font-size: 80pt;
}
.texto{
    font-family: VerlagLight;
    color: #FFF;
    margin-left: 50px;
    font-size: 12pt;
    width: 500px;
    float: right;
}

.side h1{
    margin-left: 80px;
    margin-top: 200px;
    font-family: VerlagBook;
    color: #ffffff;
    font-size: 50pt;
    width: 200px;
}

.div-cor-header h1{
    font-family: VerlagBold;
    color: #ffffff;
    font-size: 12pt;
}

a{
    text-decoration: none;
    /*font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;*/
    font-family: VerlagBold;
    font-size: 20px;
}

.navbar{
    height: 140px;
}

.modal{
    background-color: #fc0fc0;
}

.header{
    
    margin-top: 20px;
    display: table-cell;
}

.logo{
    display: table-cell;
}
.logo img{
    height:60px;
    margin-right: 50px;
    margin-top: 20px;
    margin-left: 200px;

}
.box{
    float:left;
    margin: 5px;
    
    text-align: center;
    vertical-align: middle;
    
    line-height: 169px;       /* the same as your div height */
    width:203px;
    /* padding-bottom: 20%; */
    background-color: #EEEEEE;
    color: #666666;
    /* border-radius: 10px; */
}
.pink:hover{
    background-color: #FF00EE;
    color: #FFFFFF;
}

.orange:hover{
    background-color: #FF9900;
    color: #FFFFFF;
}

.green:hover{
    background-color: #00FF66;
    color: #FFFFFF;
}

.blue:hover{
    background-color: #00BBFF;
    color: #FFFFFF;
}