
@font-face {
font-family: VerlagLight;
src: url('../fonts/verlaglight.otf') format("opentype");
}
@font-face {
font-family: VerlagBold;
src: url('../fonts/verlagbold.otf') format("opentype");
}
@font-face {
font-family: VerlagBook;
src: url('../fonts/verlagbook.otf') format("opentype");
}

h1{
    font-family: VerlagLight;
    color: #666666;
    margin-left: 50px;
    font-size: 20pt;
}

h2{
    font-family: VerlagBook;
    color: #ffffff;
    font-size: 80pt;
}

h3{
    font-family: VerlagBook;
    color: #666666;
    margin-left: 50px;
    font-size: 20pt;
    font-weight: 500;
}

/* section pagina compartilhe */

.comp-row h2{
    font-size: 7vw;
}

/* section pagina compartilhe */

.font-verlag-bold{
    font-family: VerlagBold;
}
.font-verlag-light{
    font-family: VerlagLight;
}
.font-verlag-book{
    font-family: VerlagBook;
}

.header-publish h1{
    font-size: 15pt;
    margin-bottom: -16px;

}

.text-footer h1{
    font-size: 25pt;
}
.header-publish h3{
    font-size: 20pt;
}

.text-facebook-button h5{
    margin-left: -35px;
    margin-top: 5px;
}
.comp-row{
    margin-top: 55px;
}
.comp-font{
    font-family: VerlagLight;
    font-size: 23px;
}

.facebook-logo{
    width: 35px;
    margin-left: -15px;
}

.row-facebook-button{
    margin-top: 40px;
    margin-left: 5px;
}

.facebook-button{
    outline: 1px solid #fff;
    padding: 7px;
    height: 40px;
}
.facebook-button:hover{
    outline: 2px solid #fff;
    padding: 7px;
    height: 40px;
}

.title-side{
    margin-top: 150px;
    margin-right: 20px;
}
/* end section pagina compartilhe */

/* section pagina cores */

.title-color{
    font-size: 100pt;
}
.color-row{
    padding: 90px;
}

.font-white{
    color: #fff;
}
.texto-header{
    margin-left: -15px;
    font-size: 16pt;
}
.bg-impulsiva
{
    /* #d9050c */
    background-image: -webkit-gradient(radial, center center, 80, center center, 100, from(#d9050c), to(#993333)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #d9050c 80%, #993333 100%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #d9050c 80%, #993333 100%);
    background-image: radial-gradient(center center, circle closest-corner, #d9050c 80%, #993333 100%);
}

.bg-linda
{
    /* #fe2bac; */
    background-image: -webkit-gradient(radial, center center, 80, center center, 100, from(#fe2bac), to(#CC4477)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #fe2bac 80%, #CC4477 100%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #fe2bac 80%, #CC4477 100%);
    background-image: radial-gradient(center center, circle closest-corner, #fe2bac 80%, #CC4477 100%);
}

.bg-extrovertida
{
    /*  #ffef16 */
    background-image: -webkit-gradient(radial, center center, 80, center center, 100, from(#ffef16), to(#CCBB00)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #ffef16 80%, #CCBB00 100%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #ffef16 80%, #CCBB00 100%);
    background-image: radial-gradient(center center, circle closest-corner, #ffef16 80%, #CCBB00 100%);
}
.bg-vaidosa
{
    /* #c692ca */
    background-image: -webkit-gradient(radial, center center, 80, center center, 100, from(#c692ca), to(#997799)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #c692ca 80%, #997799 100%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #c692ca 80%, #997799 100%);
    background-image: radial-gradient(center center, circle closest-corner, #c692ca 80%, #997799 100%);
}

.bg-confiante
{
    /* #701231 */
    background-image: -webkit-gradient(radial, center center, 80, center center, 100, from(#701231), to(#550010)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #701231 80%, #550010 100%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #701231 80%, #550010 100%);
    background-image: radial-gradient(center center, circle closest-corner, #701231 80%, #550010 100%);
}

.bg-fitness
{
    /* #00cb51 */
    background-image: -webkit-gradient(radial, center center, 80, center center, 100, from(#00cb51), to(#009933)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #00cb51 80%, #009933 100%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #00cb51 80%, #009933 100%);
    background-image: radial-gradient(center center, circle closest-corner, #00cb51 80%, #009933 100%);
}

.bg-livre
{
    /* #22d5d2 */
    background-image: -webkit-gradient(radial, center center, 80, center center, 100, from(#00cb51), to(#009933)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #00cb51 80%, #009933 100%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #00cb51 80%, #009933 100%);
    background-image: radial-gradient(center center, circle closest-corner, #00cb51 80%, #009933 100%);
}

.bg-misteriosa
{
    /* #8900cd */
    background-image: -webkit-gradient(radial, center center, 80, center center, 100, from(#8900cd), to(#440099)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #8900cd 80%, #440099 100%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #8900cd 80%, #440099 100%);
    background-image: radial-gradient(center center, circle closest-corner, #8900cd 80%, #440099 100%);
}

.bg-otimista
{
    /* #ff8f00  */
    background-image: -webkit-gradient(radial, center center, 80, center center, 100, from(#ff8f00), to(#CC6600)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #ff8f00 80%, #CC6600 100%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #ff8f00 80%, #CC6600 100%);
    background-image: radial-gradient(center center, circle closest-corner, #ff8f00 80%, #CC6600 100%);
}

.bg-poderosa
{
    /* #34377F  */
    background-image: -webkit-gradient(radial, center center, 80, center center, 100, from(#34377F), to(#111166)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #34377F 80%, #111166 100%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #34377F 80%, #111166 100%);
    background-image: radial-gradient(center center, circle closest-corner, #34377F 80%, #111166 100%);
}

.bg-zen
{
    /* #0b2dda */
    background-image: -webkit-gradient(radial, center center, 80, center center, 100, from(#0b2dda), to(#1111AA)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #0b2dda 80%, #1111AA 100%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #0b2dda 80%, #1111AA 100%);
    background-image: radial-gradient(center center, circle closest-corner, #0b2dda 80%, #1111AA 100%);
}

.bg-apaixonada
{
    /* #c692ca */
    background-image: -webkit-gradient(radial, center center, 80, center center, 100, from(#c692ca), to(#996699)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #c692ca 80%, #996699 100%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #c692ca 80%, #996699 100%);
    background-image: radial-gradient(center center, circle closest-corner, #c692ca 80%, #996699 100%);
}

.img-voltar{
    height: 15px;
    margin-top: 22px;
    margin-left: 20px;
}
/* end section bg pink */
.div-cor-header{
    margin-top: 20px;
    display: table-cell;
    width: 400px
}

.div-cor-header img{
    height:20px;
    float: left;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 20px;

}

.produto {
    height:360px;
}

html{
    height:80%;
}

.texto{
    font-family: VerlagLight;
    color: #FFF;
    margin-left: 50px;
    font-size: 12pt;
    width: 500px;
    float: right;
}

.side h1{
    margin-left: 80px;
    margin-top: 200px;
    font-family: VerlagBook;
    color: #ffffff;
    font-size: 50pt;
    width: 200px;
}

.div-cor-header h1{
    font-family: VerlagBold;
    color: #ffffff;
    font-size: 12pt;
}

a{
    text-decoration: none;
    /*font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;*/
    font-family: VerlagBold;
    font-size: 20px;
}

.navbar{
    height: 140px;
}

.modal{
    background-color: #fc0fc0;
}

.clight-logo{
    height: 50px;
    margin: 20px;
}


.box{
    margin: 5px;
    width:100%;

    text-align: center;
    vertical-align: middle;
    /*
     * 6:5
    width:203px;
    */
    /* padding-bottom: 20%; */
    line-height: 169px;

    color: #666666;
}

.radial-white {
    background-image: -webkit-gradient(radial, center center, 50, center center, 90, from(#FFFFFF), to(#DDDDDD)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #FFFFFF 50%, #DDDDDD 90%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #FFFFFF 50%, #DDDDDD 90%);
    background-image: radial-gradient(center center, circle closest-corner, #FFFFFF 50%, #DDDDDD 90%);
}


.radial-grau {
    background-image: -webkit-gradient(radial, center center, 10, center center, 70, from(#EEEEEE), to(#D3D3D3)); /* for older webkit */
    background-image: -webkit-radial-gradient(center center, circle closest-corner, #EEEEEE 10%, #D3D3D3 70%);
    background-image: -moz-radial-gradient(center center, circle closest-corner, #EEEEEE 10%, #D3D3D3 70%);
    background-image: radial-gradient(center center, circle closest-corner, #EEEEEE 10%, #D3D3D3 70%);
}

.impulsiva:hover
{
    background-image:none;
    background-color: #d9050c;
    color: #FFFFFF;
}
.linda:hover
{
    background-image:none;
    background-color: #fe2bac;
    color: #FFFFFF;
}
.extrovertida:hover
{
    background-image:none;
    background-color: #ffef16;
    color: #FFFFFF;
}
.vaidosa:hover
{
    background-image:none;
    background-color: #c692ca;
    color: #FFFFFF;
}
.confiante:hover
{
    background-image:none;
    background-color: #701231;
    color: #FFFFFF;
}
.fitness:hover
{
    background-image:none;
    background-color: #00cb51;
    color: #FFFFFF;
}
.livre:hover
{
    background-image:none;
    background-color: #22d5d2;
    color: #FFFFFF;
}
.misteriosa:hover
{
    background-image:none;
    background-color: #8900cd;
    color: #FFFFFF;
}
.otimista:hover
{
    background-image:none;
    background-color: #ff8f00;
    color: #FFFFFF;
}

.poderosa:hover
{
    background-image:none;
    background-color: #34377F;
    color: #FFFFFF;
}
.zen:hover
{
    background-image:none;
    background-color: #0b2dda;
    color: #FFFFFF;
}
.apaixonada:hover
{
    background-image:none;
    background-color: #c692ca;
    color: #FFFFFF;
}
