{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Clight">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'app/favicon.ico' %}">

        <title>Clight</title>

        <!-- Bootstrap core CSS -->
        <link href="{% static 'app/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Swiper core css -->
        <link href="{% static 'app/css/swiper.min.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block meta_tags %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'app/css/clight_base.css' %}">
    </head>

    {% block body_tag %}
    <body>
    {% endblock %}

        {% block body_content %}{% endblock %}

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'app/js/jquery.min.js' %}"></script>
        <script src="{% static 'app/js/bootstrap.min.js' %}"></script>

        <!-- TACKER -->
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '69392981-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        function tracker(strPageview){
         _gaq.push(['_trackPageview', strPageview]);
        }

        function tracker_event(strCategory, strAction, strLabel, strValue){
         _gaq.push(['_trackEvent', strCategory, strAction, strLabel, strValue]);
        }

        function tracker_social(strNetwork,strSocialAction,strTarget,strPagePath){
         _gaq.push(['_trackSocial',strNetwork,strSocialAction,strTarget,strPagePath]);
        }
        </script>

        {% block body_scripts %}{% endblock %}

        {% block body_swiper %}{% endblock %}

    </body>
</html>
