{% extends 'app/base.html' %}
{% load static from staticfiles %}

{% block body_content %}
    <body>
        <div class="container-fluid">
            <div class="row">
               <div class="col-md-10 col-xs-8">
                    <h1> QUAL ADJETIVO DESCREVE VOCÊ HOJE? </h1>
                </div>
                <div class="col-md-offset-2 col-xs-offset-4">
                    <img class="clight-logo img-responsive" src="{% static 'app/imagens/logo-clight.png' %}">
                </div>
            </div> <!-- row -->

            <div class="row row-eq-height">
                <a href="http://example.com">
                    <div class="col-md-3 col-xs-6">
                        <div class="box text-center pink">
                            ROMÂNTICA
                        </div>
                    </div>
                </a>
                <a href="http://example.com">
                    <div class="col-md-3 col-xs-6">
                        <div class="box text-center orange">
                            DESCOLADA
                        </div>
                    </div>
                </a>
                <a href="http://example.com">
                    <div class="col-md-3 col-xs-6">
                        <div class="box text-center green">
                            FELIZ
                        </div>
                    </div>
                </a>
                <a href="http://example.com">
                    <div class="col-md-3 col-xs-6">
                        <div class="box text-center blue">
                            SINCERA
                        </div>
                    </div>
                </a>
            </div> <!-- row -->

            <div class="row row-eq-height">
                <a href="http://example.com">
                    <div class="col-md-3 col-xs-6">
                        <div class="box text-center pink">
                            LIVRE
                        </div>
                    </div>
                </a>
                <a href="http://example.com">
                    <div class="col-md-3 col-xs-6">
                        <div class="box text-center orange">
                            FORTE
                        </div>
                    </div>
                </a>
                <a href="http://example.com">
                    <div class="col-md-3 col-xs-6">
                        <div class="box text-center green">
                            INSPIRADORA
                        </div>
                    </div>
                </a>
                <a href="http://example.com">
                    <div class="col-md-3 col-xs-6">
                        <div class="box text-center blue">
                            TRANQUILA
                        </div>
                    </div>
                </a>
            </div> <!-- row -->
            <div class="row">
                <a href="http://example.com">
                    <div class="col-md-3 col-xs-6">
                        <div class="box text-center pink">
                            PODEROSA
                        </div>
                    </div>
                </a>
                <a href="http://example.com">
                    <div class="col-md-3 col-xs-6">
                        <div class="box text-center orange">
                            ALEGRE
                        </div>
                    </div>
                </a>
                <a href="http://example.com">
                    <div class="col-md-3 col-xs-6">
                        <div class="box text-center green">
                            OTIMISTA
                        </div>
                    </div>
                </a>
                <a href="http://example.com">
                    <div class="col-md-3 col-xs-6">
                        <div class="box text-center blue">
                            CONFIANTE
                        </div>
                    </div>
                </a>
            </div> <!-- row -->
        </div> <!-- container-fluid -->

{% endblock %}
