{% extends 'app/base.html' %}
{% load static from staticfiles %}

{% block body_content %}
    <body>
        <div class="container-fluid">
            <div class="row">
               <div class="col-md-10 col-xs-8">
                    <h1> QUAL ADJETIVO DESCREVE VOCÊ HOJE? </h1>
                </div>
                <div class="col-md-offset-2 col-xs-offset-4">
                    <img class="clight-logo img-responsive" src="{% static 'app/imagens/logo-clight.png' %}">
                </div>
            </div> <!-- row -->

            <div class="row row-eq-height">
                <a href="{% url 'cor' palavra="impulsiva" %}">
                    <div class="col-md-3 col-xs-6">
                        <div class="box radial-grau text-center impulsiva">
                            IMPULSIVA
                        </div>
                    </div>
                </a>
                <a href="{% url 'cor' palavra="linda" %}">
                    <div class="col-md-3 col-xs-6">
                        <div class="box radial-grau text-center linda">
                            LINDA
                        </div>
                    </div>
                </a>
                <a href="{% url 'cor' palavra="extrovertida" %}">
                    <div class="col-md-3 col-xs-6">
                        <div class="box radial-grau text-center extrovertida">
                            EXTROVERTIDA
                        </div>
                    </div>
                </a>
                <a href="{% url 'cor' palavra="vaidosa" %}">
                    <div class="col-md-3 col-xs-6">
                        <div class="box radial-grau text-center vaidosa">
                            VAIDOSA
                        </div>
                    </div>
                </a>
            </div> <!-- row -->

            <div class="row row-eq-height">
                <a href="{% url 'cor' palavra="confiante" %}">
                    <div class="col-md-3 col-xs-6">
                        <div class="box radial-grau text-center confiante">
                            CONFIANTE
                        </div>
                    </div>
                </a>
                <a href="{% url 'cor' palavra="fitness" %}">
                    <div class="col-md-3 col-xs-6">
                        <div class="box radial-grau text-center fitness">
                            FITNESS
                        </div>
                    </div>
                </a>
                <a href="{% url 'cor' palavra="livre" %}">
                    <div class="col-md-3 col-xs-6">
                        <div class="box radial-grau text-center livre">
                            LIVRE
                        </div>
                    </div>
                </a>
                <a href="{% url 'cor' palavra="misteriosa" %}">
                    <div class="col-md-3 col-xs-6">
                        <div class="box radial-grau text-center misteriosa">
                            MISTERIOSA
                        </div>
                    </div>
                </a>
            </div> <!-- row -->
            <div class="row">
                <a href="{% url 'cor' palavra="otimista" %}">
                    <div class="col-md-3 col-xs-6">
                        <div class="box radial-grau text-center otimista">
                            OTIMISTA
                        </div>
                    </div>
                </a>
                <a href="{% url 'cor' palavra="poderosa" %}">
                    <div class="col-md-3 col-xs-6">
                        <div class="box radial-grau text-center poderosa">
                            PODEROSA
                        </div>
                    </div>
                </a>
                <a href="{% url 'cor' palavra="zen" %}">
                    <div class="col-md-3 col-xs-6">
                        <div class="box radial-grau text-center zen">
                            ZEN
                        </div>
                    </div>
                </a>
                <a href="{% url 'cor' palavra="apaixonada" %}">
                    <div class="col-md-3 col-xs-6">
                        <div class="box radial-grau text-center apaixonada">
                            APAIXONADA
                        </div>
                    </div>
                </a>
            </div> <!-- row -->
        </div> <!-- container-fluid -->

{% endblock %}
