{% extends 'app/base.html' %}
{% load static from staticfiles %}

{% block meta_tags %}
    
{% endblock %}

{% block body_content %}
    <body>
        <div class="container-fluid">
            <div class="row">
               <div class="col-md-10 col-xs-8">
                    <h1> QUAL ADJETIVO DESCREVE VOCÊ HOJE? </h1>
                </div>
                <div class="col-md-offset-2 col-xs-offset-4">
                    <img class="clight-logo img-responsive" src="{% static 'app/imagens/logo-clight.png' %}">
                </div>
            </div> <!-- row -->

            <div id="grid-containter">
                <a href="{% url 'compartilhe' palavra="impulsiva" %}" class="link">
                    <div id="card-impulsiva" class="card-grid" style="perspective: 600px; position: relative; transform-style: preserve-3d;">
                        <div class="front radial-grau" style="height: 169px; width: 226px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out; transform: rotateY(0deg);">
                            
                        </div>
                        <div class="back radial-grau impulsiva" style="transform: rotateY(-180deg); height: 169px; width: 269px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out;">
                            IMPULSIVA
                        </div>
                    </div>
                </a> 
                <a href="{% url 'compartilhe' palavra="linda" %}" class="link">
                    <div id="card-linda" class="card-grid" style="display:none; perspective: 600px; position: relative; transform-style: preserve-3d;">
                        <div class="front radial-grau" style="height: 169px; width: 226px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out; transform: rotateY(0deg);">
                            
                        </div>
                        <div class="back radial-grau linda" style="transform: rotateY(-180deg); height: 169px; width: 269px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out;">
                            LINDA
                        </div>
                    </div>
                </a>
                <a href="{% url 'compartilhe' palavra="extrovertida" %}" class="link">
                    <div id="card-extrovertida" class="card-grid" style="display:none; perspective: 600px; position: relative; transform-style: preserve-3d;">
                        <div class="front radial-grau" style="height: 169px; width: 226px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out; transform: rotateY(0deg);">
                            
                        </div>
                        <div class="back radial-grau extrovertida" style="transform: rotateY(-180deg); height: 169px; width: 269px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out;">
                            EXTROVERTIDA
                        </div>
                    </div>
                </a>
                <a href="{% url 'compartilhe' palavra="vaidosa" %}" class="link">
                    <div id="card-vaidosa" class="card-grid" style="display:none; perspective: 600px; position: relative; transform-style: preserve-3d;">
                        <div class="front radial-grau" style="height: 169px; width: 226px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out; transform: rotateY(0deg);">
                            
                        </div>
                        <div class="back radial-grau vaidosa" style="transform: rotateY(-180deg); height: 169px; width: 269px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out;">
                            VAIDOSA
                        </div>
                    </div>
                </a>
                <!-- end linha 1-->

                <a href="{% url 'compartilhe' palavra="confiante" %}" class="link">
                    <div id="card-confiante" class="card-grid" style="display:none; perspective: 600px; position: relative; transform-style: preserve-3d;">
                        <div class="front radial-grau" style="height: 169px; width: 226px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out; transform: rotateY(0deg);">
                            
                        </div>
                        <div class="back radial-grau confiante" style="transform: rotateY(-180deg); height: 169px; width: 269px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out;">
                            CONFIANTE
                        </div>
                    </div>
                </a>
                <a href="{% url 'compartilhe' palavra="espontanea" %}" class="link">
                    <div id="card-espontanea" class="card-grid" style="display:none; perspective: 600px; position: relative; transform-style: preserve-3d;">
                        <div class="front radial-grau" style="height: 169px; width: 226px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out; transform: rotateY(0deg);">
                            
                        </div>
                        <div class="back radial-grau espontanea" style="transform: rotateY(-180deg); height: 169px; width: 269px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out;">
                            ESPONTANEA
                        </div>
                    </div>
                </a>
                <a href="{% url 'compartilhe' palavra="livre" %}" class="link">
                    <div id="card-livre" class="card-grid" style="display:none; perspective: 600px; position: relative; transform-style: preserve-3d;">
                        <div class="front radial-grau" style="height: 169px; width: 226px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out; transform: rotateY(0deg);">
                            
                        </div>
                        <div class="back radial-grau livre" style="transform: rotateY(-180deg); height: 169px; width: 269px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out;">
                            LIVRE
                        </div>
                    </div>
                </a>
                <a href="{% url 'compartilhe' palavra="misteriosa" %}" class="link">
                    <div id="card-misteriosa" class="card-grid" style="display:none; perspective: 600px; position: relative; transform-style: preserve-3d;">
                        <div class="front radial-grau" style="height: 169px; width: 226px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out; transform: rotateY(0deg);">
                            
                        </div>
                        <div class="back radial-grau misteriosa" style="transform: rotateY(-180deg); height: 169px; width: 269px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out;">
                            MISTERIOSA
                        </div>
                    </div>
                </a>
                <!-- end linha 2-->
                <a href="{% url 'compartilhe' palavra="otimista" %}" class="link">
                    <div id="card-otimista" class="card-grid" style="display:none; perspective: 600px; position: relative; transform-style: preserve-3d;">
                        <div class="front radial-grau" style="height: 169px; width: 226px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out; transform: rotateY(0deg);">
                            
                        </div>
                        <div class="back radial-grau otimista" style="transform: rotateY(-180deg); height: 169px; width: 269px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out;">
                            OTIMISTA
                        </div>
                    </div>
                </a>
                <a href="{% url 'compartilhe' palavra="poderosa" %}" class="link">
                    <div id="card-poderosa" class="card-grid" style="display:none; perspective: 600px; position: relative; transform-style: preserve-3d;">
                        <div class="front radial-grau" style="height: 169px; width: 226px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out; transform: rotateY(0deg);">
                            
                        </div>
                        <div class="back radial-grau poderosa" style="transform: rotateY(-180deg); height: 169px; width: 269px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out;">
                            PODEROSA
                        </div>
                    </div>
                </a>
                <a href="{% url 'compartilhe' palavra="zen" %}" class="link">
                    <div id="card-zen" class="card-grid" style="display:none; perspective: 600px; position: relative; transform-style: preserve-3d;">
                        <div class="front radial-grau" style="height: 169px; width: 226px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out; transform: rotateY(0deg);">
                            
                        </div>
                        <div class="back radial-grau zen" style="transform: rotateY(-180deg); height: 169px; width: 269px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out;">
                            ZEN
                        </div>
                    </div>
                </a>
                <a href="{% url 'compartilhe' palavra="apaixonada" %}" class="link">
                    <div id="card-apaixonada" class="card-grid" style="display:none; perspective: 600px; position: relative; transform-style: preserve-3d;">
                        <div class="front radial-grau" style="height: 169px; width: 226px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; transition: all 0.5s ease-out; transform: rotateY(0deg);">
                            
                        </div>
                        <div class="back radial-grau apaixonada" style="transform: rotateY(-180deg); height: 169px; width: 269px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 0; transition: all 0.5s ease-out;">
                            APAIXONADA
                        </div>
                    </div>
                </a>
                <!-- end linha 3-->
            </div> <!-- end grid container -->    
 </div> <!-- container-fluid -->
{% endblock %}

{% block body_swiper %}
        <!-- Initialize Swiper -->
        <script src="{% static 'app/js/jquery.flip.min.js' %}"></script>
        <script>
            $(".card-grid").flip({
              trigger: 'manual'
            });

            /* funcão do flip sequencial*/

            $( document ).ready(function() {
                $("#card-impulsiva").flip(true,function(){
                    $("#card-linda").show(function(){
                        $("#card-linda").flip(true,function(){
                            $("#card-extrovertida").show(function(){
                                $("#card-extrovertida").flip(true,function(){
                                    $("#card-vaidosa").show(function(){
                                        $("#card-vaidosa").flip(true,function(){
                                            $("#card-confiante").show(function(){
                                                $("#card-confiante").flip(true,function(){
                                                    $("#card-espontanea").show(function(){
                                                        $("#card-espontanea").flip(true,function(){
                                                            $("#card-livre").show(function(){
                                                                $("#card-livre").flip(true,function(){
                                                                    $("#card-misteriosa").show(function(){
                                                                        $("#card-misteriosa").flip(true,function(){
                                                                            $("#card-otimista").show(function(){
                                                                                $("#card-otimista").flip(true,function(){
                                                                                    $("#card-poderosa").show(function(){
                                                                                        $("#card-poderosa").flip(true,function(){                 
                                                                                            $("#card-zen").show(function(){
                                                                                                $("#card-zen").flip(true,function(){
                                                                                                    $("#card-apaixonada").show(function(){
                                                                                                        $("#card-apaixonada").flip(true);
                                                                                                    });
                                                                                                });
                                                                                            });
                                                                                        });
                                                                                    });
                                                                                });
                                                                            });     
                                                                        });
                                                                    });
                                                                });
                                                            });
                                                        });
                                                    });
                                                });
                                            });
                                        });
                                    });
                                });
                            });
                        });
                    });
                });

            });
            /* end funcão do flip sequencial*/ 
        </script>

{% endblock %}