<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Clight</title>
<link rel="stylesheet" type="text/css" href="css/ipad.css">
</head>
<body class="modal">
    <div class="navbar">
            <div class="div-cor-header">
                <img src="imagens/voltar.png">
                <h1> ROMÂNTICA: SUA COR DO DIA </h1>
            </div>
            <div class="logo">
                <img src="imagens/logo-clight-branco.png">
            </div>
    </div>
    <div class="intro">
        <h1>ROSA</h1>
    </div>
</body>

</html>