<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Clight</title>
<link rel="stylesheet" type="text/css" href="css/ipad.css">
</head>
<body>
    <div class="navbar">
            <div class="div-cor-header">
                <img src="imagens/voltar-button.png">
                <h1> SUA COR DO DIA </h1>
            </div>
            <div class="logo">
                <img src="imagens/logo-clight.png">
            </div>
    </div>
    <div class="produto">
        <img src="imagens/produto-1.png">
    </div>
    <div class="footer">
        <h1>UVA: O LADO ROMÂNTICO DE CLIGHT.</h1>
    </div>
</body>

</html>