{% extends 'app/base.html' %}
{% load static from staticfiles %}
{% block body_content %}
<body class="radial-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1 col-xs-1">
                <a href="{% url 'compartilhe' class %}">
                    <img class="img-voltar img-responsive" src="{% static 'app/imagens/voltar-button.png' %}">
                </a>
            </div>
           <div class="col-md-9 col-xs-8">
                <h1 class="texto-header font-verlag-bold"> SUA COR DO DIA</h1>
            </div>
            <div class="col-md-offset-2 col-xs-offset-4">
                <img class="clight-logo img-responsive" src="{% static 'app/imagens/logo-clight.png' %}">
            </div>
        </div> <!-- row -->
    </div> <!-- container-fluid -->

    <div class="container-fluid">
        <div class="row text-center">
            <!-- <div class="col-xs-offset-1 col-md-offset-1"> -->
            <div class="col-xs-12 header-publish">
                <h1 class="font-verlag-light">SUA COR FOI PUBLICADA.</h1>
                <h3 class="font-verlag-book">SABE QUAL SABOR ESTÁ COMBINANDO COM VOCÊ HOJE?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <img class="img-responsive center-block produto" src="{% static image %}">
                </div>
        <div class="row">
            <div class="col-md-12 text-center text-footer">
                <h1 ><font class="font-verlag-bold">{{produto}}</font><font class="font-verlag-book">: {{slogan}}</font></h1>
            </div>
        </div>

            </div>
        </div> <!-- row -->
    </div> <!-- container-fluid -->
</body>
{% endblock %}
