<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Clight</title>
<link rel="stylesheet" type="text/css" href="css/ipad.css">
</head>
<body class="modal">
    <div class="navbar">
            <div class="div-cor-header">
                <img src="imagens/voltar.png">
                <h1> ROMÂNTICA: SUA COR DO DIA </h1>
            </div>
            <div class="logo">
                <img src="imagens/logo-clight-branco.png">
            </div>
    </div>
    <div class="side">
        <h1>ROSA</h1>
        <div class="texto">
            <p>De rosa, você está feliz. E mais do que isso, está também romântica.</p>
            <p>Hoje você deve explorar esse seu lado para deixar a vida mais leve, fazendo só o que vai arrancar lindos sorrisos. E, se tiver alguém, aproveite para viver momentos à dois, com tudo que você tem direito.</p>
            <p>Curta esse momento com toda a leveza. Espalhe amor por onde for.</p>
            <p>Até porque o amor deixa todo mundo feliz.</p>
        </div>
    </div>
</body>

</html>